.box-sizing(@options) {
	-webkit-box-sizing: @options;
	-moz-box-sizing: @options;
	-ms-box-sizing: @options;
	-o-box-sizing: @options;
	box-sizing: @options;
}

.transition(@options) {
	-webkit-transition: @options;
	-moz-transition: @options;
	-ms-transition: @options;
	-o-transition: @options;
	transition: @options;
}

body {
	background: -webkit-radial-gradient(right top, circle farthest-corner, #CCE6FF, #2675BF, #000F19);
	background: -moz-radial-gradient(right top, circle farthest-corner, #CCE6FF, #2675BF, #000F19);
	background: -ms-radial-gradient(right top, circle farthest-corner, #CCE6FF, #2675BF, #000F19);
	background: -o-radial-gradient(right top, circle farthest-corner, #CCE6FF, #2675BF, #000F19);
	background: radial-gradient(right top, circle farthest-corner, #CCE6FF, #2675BF, #000F19);
	text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
	color: #CFD9E6;
	font-size: 0.95em;
}

.impress-enabled {
	.step {
		.box-sizing(border-box);
		font-family: 'Droid Sans', sans-serif;
		line-height: 1.5;
		margin: 0;
		opacity: 0.3;
		.transition(opacity 1s);
	}

	.step.active {
		opacity: 1;
	}
}

.slide {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	display: block;
	height: 700px;
	padding: 20px 40px;
	width: 900px;

	code {
		background-color: rgba(0,0,0,0.8);
		border-radius: 10px;
	}
}

section.slide h1 {
	position: absolute;
	top: -18px;
	font-size: 48px;
}

pre {
	position: relative;
	top: 28px;
}

pre code {
	padding-left: 2em;
}

header {
	text-align: center;
}

h1 {
	font-size: 80px;
}

/* Slide-Specific Styles */
#xml-creation pre.output {
	position: relative;
	top: -1em;
}

/*
	Show/Hide the Unsupported Browser Message
*/
.impress-not-supported .step {
	position: relative;
	opacity: 1;
	margin: 20px auto;
}
.impress-enabled .fallback-message {
	display: none !important;
}
.impress-not-supported .fallback-message {
	display: block;
}
.fallback-message {
	margin: 20px auto;
}